.navbar{
    background-image: linear-gradient(to right, rgb(232, 215, 215) , rgb(228, 44, 102));
}
.nav-link {
    color: white !important;
    margin-right: 16px;
}
.btn1{
    color: Brown;
    border: none;
    border-radius: 5px;
    padding: 12px;
}
.navbar-brand{
    margin-right: 500px ;
}
.section2 img{
        height: 270px;
}
.Hiring{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    font-style: italic;
}
.section1{
    width: 50%;
}
.section2{
    width: 50%;
}
.h1tag{
    
    position: relative;
    left: 200px;
    top: 17px;
    font-size: 50px;

}
.easy{
    color: gray;
    font-weight: lighter;
}
.recruit{
    font-size: 110px;
    line-height: 1;
    padding-left: 140px;
    margin-top: 20px;
    font-weight: 300;
    letter-spacing: 7px;
    color: brown;
}
.we_are{
    color: gray;
    font-size: 55px;
}
.challenge{
    text-align: center;
    line-height: 0;
    margin-top: 100px;
}
.cards{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}
.incards{
    height: 115px;
    background-color: #ffc0cb69;
    font-size: 20px;
    width: 20%;
    padding-top: 18px;
    font-weight: 500;
}
.bgtext{
    background-color: #a52a2aab;
    margin-top: 100px;
    padding: 40px;
    color: white;
    height: 280px;
}
.cards2{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: -100px;
}
.incards2{
    width: 180px;
    height: 220px;
    

}
.bgtext2{
    background-color: #ffc0cb63;
}
.strup{
    padding-left: 120px;
    font-size: 45px;
    font-weight: 700;
}
.img1{
    padding-left: 135px;
    padding-top: 40px;
}
.imgtext{
  display: inline-block;
}
.text{
    font-size: 20px;
    position: relative;
    top: 42px;
}
.text2{
    font-size: 20px;
    font-weight: 500;
    position: relative;
    top: 64px;
}
.text3{
    font-size: 20px;
    position: relative;
    top: 88px;
}
.customer{
    font-size: 40px;
    margin-top: 100px;
    text-align: center;
    font-weight: 500
}
.imgcards{
    display: flex;
    margin-top: 80px;
    justify-content: space-around;
}


.stvtext{
    position: relative;
    bottom: 195px;
    color: white;
    font-weight: bold;
    left: 5px;
}
.stvimg{
    border-radius: 10px;
}
.btnread{
    border-radius: 5px;
    border:1px solid red;
    padding: 10px;
    position: relative;
    top: 120px;
    right: 70px;
}
.can_bazaar{
    background-color: #ffc0cb63;
    
}
.can_bazaar2{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
    color: #999595fa;
}
.can_bazaar3{
    text-align: center;
    padding-bottom: 60px;
    padding-top: 60px;
}

.status{
    display: flex;
    justify-content: space-around;
    padding-bottom: 60px;
}
.can_num{
    font-size: 36px;
    font-weight: 700;
    position: relative;
    right: 5px;
}
.btn_demo{
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
}
.About{
    background-color: #ffc0cb63;
    padding-bottom: 25px;
    padding-left: 20px;
    padding-top: 10px;
}
.Abt_text{
    width: 100%;
    height: 80px;

}
.abt_text2{
    width: 105%;
    height: 50px;
    line-height: 25px;
}
.follow{
    position: relative;
    left: 640px;
}
.fa-brands {
    font-size: 25px;
    margin-left: 20px;
}
.google{
    background-color: black;
    color: white;
    border-radius: 8px;
    margin-right: 10px;
}